<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
    <title>VYO corporation</title>
</head>
<body>
    <div class="hello">
        <div>Привіт, друже, як тебе звати?</div>
        </br>
        <form method="POST" action="greet">
            {% csrf_token %}
            <input type="text" name="greet_name">
            <button type="submit">Ok, let`s send it!</button>
        </form>
    </div>
</body>
</html>
